<div>

    <div>
        <label for="username">Username:</label>
        <input name="username" type="text" placeholder="username" id="username-field">
    </div>
        <div>
        <label for="password">Password:</label>
        <input name="password" type="password" placeholder="password" id="password-field">
    </div>

    <button id="login-btn">Login</button>


    <button id="sign-up" href="/api/user">Sign-Up</button>
    
</div>

<script src="./js/login.js"></script>

